<header>
    <h1>Welcome to Cairo University Seniors</h1>
    <div class="navigation">
        <nav>
            <a routerLink="/login" routerLinkActive="active-link">Login</a>
            <a routerLink="/register" routerLinkActive="active-link">Register</a>
            <a routerLink="/place-order" routerLinkActive="active-link">Place Order</a>
            <a routerLink="/my-orders" routerLinkActive="active-link">My Orders</a>
        </nav>
    </div>
</header>

<main class="main-content">
    <router-outlet></router-outlet>
</main>

<footer>
    <p>&copy; 2024 Seniors</p>
</footer>
